header{
	position: fixed;
	width: 100%;
	padding: 20px;
}
.logo-html{
	height: 60px;
	margin-left: 70px;
}
.navigation{
	margin-top: 15px;
	margin-right: 80px;
}
.navigation-li{
	display: inline-block;
		font-size: 28px;
}
.disply-inline-block{
	display: inline-block;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.navigation-a{
	margin-left: 12px;
}
.clear{
	clear: both;
}
.section-0{
	height: 100px;
}
.section-1{
	background-color: #E6E6E6;
}
.banner{
	position: relative;
	width: 1171px;
	margin: 30px 140px;
}
.logohtml{
	width: 100px;
	position: absolute;
	right: 200px;
	top: 530px;
}
.logo3{
	position: absolute;
	width: 440px;
	left: 180px;
	top: 400px;
}