header{
	position: fixed;
	width: 100%;
	padding: 20px;
}
.logo-html{
	height: 60px;
	margin-left: 70px;
}
.navigation{
	margin-top: 15px;
	margin-right: 80px;
}
.navigation-li{
	display: inline-block;
		font-size: 28px;
}
.disply-inline-block{
	display: inline-block;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.navigation-a{
	margin-left: 12px;
}
.clear{
	clear: both;
}
.section-0{
	height: 100px;
}
.section-1{
	background-color: #E6E6E6;
	/*position: relative;*/
}
.banner{
	position: relative;
	width: 1171px;
	margin: 30px 140px;
}
.logohtml{
	width: 100px;
	position: absolute;
	right: 200px;
	top: 530px;
	color: #fff;
}
.logo3{
	position: absolute;
	width: 440px;
	left: 180px;
	top: 400px;
}
.section-2{
	background-color: #363E97;
	height: 500px;
	position: relative;
}
h3{
	font-size: 24px;
	display: inline-block;
	color: #fff;
}
.divblock{
	height: 20px;
	width: 2px;
	margin: 0 20px 0 20px;
	background-color: #fff;
}
.divblock2{
	position: absolute;
	top: 40px;
	left: 140px;
}
.div1{
	width: 570px;
	height: 320px;
	background-color: #fff;
	position: absolute;
	top: 100px;
	left: 140px;
	bottom: 100px;
}
.div2{
	width: 570px;
	height: 320px;
	background-color: #fff;
	position: absolute;
	top: 100px;
	right: 140px;
	bottom: 100px;
}
.text{
	font-size: 16px;
	position: absolute;
}