header{
	position: fixed;
	width: 100%;
	padding: 20px;
	z-index: 1;
	background-color: white;
}
div.sticky {
	/*position: absolute;*/
  position: sticky;
  top: 640px;
  z-index: 199999999;
 }
 .sticky img{
 	height: 60px;
 	margin-left: 20px;
 	position: absolute;
 	z-index: 20;
 }
.logo-html{
	height: 60px;
	margin-left: 120px;
}
.navigation{
	margin-top: 15px;
	margin-right: 135px;
}
.navigation-li{
	display: inline-block;
		font-size: 28px;
}
.disply-inline-block{
	display: inline-block;
}
.float-left{
	float: left;
}
.float-right{
	float: right;
}
.navigation-a{
	margin-left: 12px;
	font-family: 'Roboto', sans-serif;
	color: #3D58A6;
}
.clear{
	clear: both;
}
.section-a{
	height: 100px;
}
.section-1{
	background-color: #E6E6E6;
	/*position: relative;*/
}
.banner{
	position: relative;
	width: 1171px;
	margin: 30px 140px;
}
.logohtml{
	width: 100px;
	position: absolute;
	right: 200px;
	top: 530px;
	color: #fff;
}
.logo3{
	position: absolute;
	width: 440px;
	left: 180px;
	top: 400px;
}
.section-2{
	background-color: #363E97;
	height: 500px;
	position: relative;
}
h3{
	font-size: 24px;
	display: inline-block;
	color: #fff;
}
.divblock{
	height: 20px;
	width: 2px;
	margin: 0 20px 0 20px;
	background-color: #fff;
}
.divblock2{
	position: absolute;
	top: 40px;
	left: 140px;
}
.div1{
	width: 570px;
	height: 320px;
	background-color: #fff;
	position: absolute;
	top: 100px;
	left: 140px;
	bottom: 100px;
	background-color: #F2F2F2;
}
.div2{
	width: 570px;
	height: 320px;
	background-color: #fff;
	position: absolute;
	top: 100px;
	right: 140px;
	bottom: 100px;
	background-color: #F2F2F2;
}
.text{
	font-size: 16px;
	position: absolute;
	top: 155px;
	left: 130px;
}
.section-3{
	height: 450px;
	background-color: #BDCCD4;
	width: 100%;
	position: relative;
}
.section-3 h3{
	color: #3D58A6;
	/*margin-top: 40px;
	margin-bottom: 36px;
	margin-left: 135px;*/
	position: absolute;
	left: 135px;
	top: 50px;
}
.absolute{
	position: absolute;
}
.relative{
	position: relative;
}
.box{
	margin-right: 30px;
	/*margin-left: 30px;*/
}
.box img{
	display: block;
}
.box div{
	background-color: #E6E6E6;
	height: 60px;
	position: relative;
}
.box p{
	position: absolute;
	font-size: 22px;
	top: 20px;
}
.boxis{
	margin-left: 135px;
	/*margin-top: 70px*/;
	position: absolute;
	top: 120px;
}
.section-4{
	width: 100%;
	height: 345px;
	background-color: #E6E6E6;
}
.wrapper{
	width: 1174px;
	margin: 30px auto;
}
.child{
	background-color: #F2F2F2;
	width: 570px;
	height: 225px;
	margin-right: 30px;
	padding: 20px;
	position: relative;
}
.read{
	position: absolute;
	right: 5px;
	bottom: 10px;
}
.child-1{
	background-color: #F2F2F2;
	width: 570px;
	height: 225px;
	padding: 20px;
	position: relative;
}
.taz img{
	height: 130px;
	display: inline-block;
	margin-right: 40px;
	margin-top: 20px;
}
.taz-1 img{
	height: 130px;
	display: inline-block;
	margin-right: 40px;
	margin-top: 20px;
}
.section-4 h3{
	font-size: 24px;
	margin-left: 145px;
	margin-top: 20px;
	color: #000000;
}
h4{
	font-size: 20px;
}
.taz p{
	font-size: 20px;
	width: 340px;
	display: inline-block;
}
.taz-1 p{
	font-size: 20px;
	width: 340px;
	display: inline-block;
}
footer{
	width: 100%;
	height: 60px;
}
.ppp{
	margin-left: 145px;
	margin-top: 20px;
}
.footp{
	margin-right: 145px;
	margin-top: 20px;
}
